@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer {
    .input-css {
       @apply !py-3 !px-5 !bg-gray-100 !w-full  !rounded-[15px]  outline-none border-gray-200 text-sm font-medium
    }
    .label-css {
       @apply text-sm text-[#000] font-semibold
    }

    
  }
 .swiper-button-next, .swiper-button-prev {
   background-color: #000;
    width: 40px!important;
    height: 40px!important;
  opacity: 0.7;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.4s ease-in-out;
 }
 .glassmorphism-auth {
  background: rgba(6, 3, 3, 0.711);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
 .cl-internal-180wb59 {
   display: none!important;
   opacity: 0!important;
 }
 .swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

 .swiper-button-next:hover, .swiper-button-prev:hover {
   opacity: 1;
   transform: scale(1.2);
 }
 .carousel button {
  display: none;
 }
 .swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff; /* Change the color of the arrow */
  font-size: 15px!important; /* Adjust the size of the arrow */
}
 